.container {
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    font-size: 25px;
    /* color: #a99d9da2; */
    align-items: center;
    margin: 0 auto;
    /* background-color: green; */
  }
  
.type-writer {
    padding: 50px;
    margin: 0 auto;
    font-weight: 300;
    color: #686060a2;
    text-align: center;
  }