:root {
  --background-colour: #ffffff;
  --primary-text-colour: #686060a2;
  --secondary-text-colour: #2d6de3a2;
  --secondary-text-colour2: #39b487a2;
  --secondary-text-colour3: #AFBC88;
  --secondary-text-colour4: #FDB833;
  --secondary-text-colour5: #885A5A;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
