.main-container {
    padding: 50px;
    margin: 0 auto;
    font-weight: 300;
    color: var( --primary-text-colour);
    text-align: center;
  }

button { 
    background-color: var(--secondary-text-colour);
    color: var(--background-colour);
    border: none;
    height: 30px;
    font-weight: 600;
    cursor: pointer;
}