.main-container {
    padding: 50px;
    margin: 0 auto;
    font-weight: 300;
    color: var( --primary-text-colour);
    text-align: center;
  }

button { 
    background-color: var(--secondary-text-colour);
    color: var(--background-colour);
    border: none;
    height: 30px;
    font-weight: 600;
    cursor: pointer;
}

.form input, textarea {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 20px;
    width: 30%;
    height: 30px;
}

textarea {
    height: 25%;
    width: 30%;
    resize: none;
}

.heading {
    margin-top: 0;
}